@font-face {
    font-family: 'Brown';
    src: url('Brown-Thin.eot');
    src: local('Brown-Thin'),
        url('Brown-Thin.eot?#iefix') format('embedded-opentype'),
        url('Brown-Thin.woff') format('woff'),
        url('Brown-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Brown';
    src: url('Brown-Light.eot');
    src: local('Brown-Light'),
        url('Brown-Light.eot?#iefix') format('embedded-opentype'),
        url('Brown-Light.woff') format('woff'),
        url('Brown-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('Brown-Regular.eot');
    src: local('Brown-Regular'),
        url('Brown-Regular.eot?#iefix') format('embedded-opentype'),
        url('Brown-Regular.woff') format('woff'),
        url('Brown-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('Brown-RegularAlt.eot');
    src: local('Brown-RegularAlt'),
        url('Brown-RegularAlt.eot?#iefix') format('embedded-opentype'),
        url('Brown-RegularAlt.woff') format('woff'),
        url('Brown-RegularAlt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('Brown-BoldAlt.eot');
    src: local('Brown-BoldAlt'),
        url('Brown-BoldAlt.eot?#iefix') format('embedded-opentype'),
        url('Brown-BoldAlt.woff') format('woff'),
        url('Brown-BoldAlt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('Brown-Bold.eot');
    src: local('Brown-Bold'),
        url('Brown-Bold.eot?#iefix') format('embedded-opentype'),
        url('Brown-Bold.woff') format('woff'),
        url('Brown-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


